---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <h1>Freelance Template</h1>
  <!-- HEADER -->
  <!-- HERO -->
  <!-- ABOUT -->
  <!-- PORTFOLIO -->
  <!-- BLOG -->
  <!-- CONTACT -->
  <!-- FOOTER -->
</MainLayout>
