---

---

<section id="about" class="pt-5 mt-[100px]">
  <div class="my-5">
    <div class="flex mr-5">
      <div id="img-wrapper" class="w-1/2 flex justify-center">
        <img
          class="w-[400px] bg-onyx py-1 pl-1 pr-2 drop-shadow-md border border-black"
          src="https://images.pexels.com/photos/35572940/pexels-photo-35572940.jpeg?_gl=1*1jg1wwm*_ga*MTA5MDE3MzI2MS4xNzU4MjUwMDM4*_ga_8JE65Q40S6*czE3NzAyMzUzNTckbzI3JGcxJHQxNzcwMjM1NDAyJGoxNSRsMCRoMA.."
          alt=""
        />
      </div>
      <div id="about-me" class="p-5 mt-[55px] text-lg">
        <div class="bg-teal text-lavender border border-black p-5 w-1/2">
          <h2 class="mt-5 text-3xl underline">About</h2>
          <p class="pt-">
            Hi there, and welcome! {"I'm"} Elsa, and I love creating colorful and
            unconventional websites.
          </p>{" "}
          {/* //?<-- LINK TO PORTFOLIO?*/}
          <p class="">
            As someone who has started a creative career from the ground up, I
            know what its like to be overwhelmed with figuring out web design,
            selling strategies, and marketing.
          </p>
        </div>

        <div class="bg-test2 border border-black mt-[50px] p-3 w-1/2">
          <p class="">
            This was what Laughing Coyote Dev was created for, to save you some
            headaches that come with learning about:
          </p>
          <ul>
            <li class="">- how to design a website</li>
            <li class="">- how to pick a domain and use hosting</li>
            <li class="">
              - and etc! See
              <a href="/#services" class="pl-1 underline"> services below!</a>
            </li>
          </ul>
        </div>
      </div>

      {/* 3 //todo later: MAKE VISIBLE WHEN MORE CONTENT v*/}
    </div>
    {
      /* <Dynamic_GridSqs
              containerStyles="dropshadow-lg"
              Headline="4 STEP PROCESS- How it works!"

              SQtitle1="Discovery phase"
              SQparagraph1="phone calls, meetings, consultations.... research, planning, scheduling... develop site structure/sitemap ex:10 hours x $50/hr=$500. -What does the user want? -how to make brand provide value?"

              SQtitle2="Creative Phase"
              SQparagraph2="sitemap, wireframe site--> mockup first draft--> mockup revised, final draft"

              SQtitle3="Development Phase"
              SQparagraph3="set up vercel temp--> convert mockups into code--> go over temp with client --> final revisions"

              SQtitle4="Launch Phase"  
              SQparagraph4="final review and Q&A--> move local website to live server, hosting, client training--> final payment"
              /> //todo later: MAKE VISIBLE WHEN MORE CONTENT */
    }
  </div>
</section>
