---
// const websites = [
//   {
//     title: "HoveyRoofing",
//     p: "fdsffdsof fkdfjdskljillum, ducimus ad vero repellenor sit amet consectetur or sit amet consectetur or sit amet consectetur dus kfdsljkdf jklsdjflksdjfl jlk",
//   },
//   {
//     title: "Generations Backflow",
//     p: "fdsffdsof fkdfjdskljillum, ducimus ad vero repellenor sit amet consectetur or sit amet consectetur or sit amet consectetur dus kfdsljkdf jklsdjflksdjfl jl",
//   },
// ];
import { Image } from "astro:assets";
import Img1 from "../../../public/screenshots/hoveyroofing.png";
import Img2 from "../../../public/screenshots/designs/fish-expo-demo.png";
---

<>
  <section
    id="works-wrapper"
    class="flex justify-center items-center orange h- mt-[105px]"
  >
    <div id="container" class="">
      <!-- todo: COME BACK TO v -->
      <!-- <div id="dynamic-grid">
    {
      websites.map((item) => (
        <div class="flex">
          <h2>{item.title}</h2>
        </div>
      ))
    }
  </div> -->
      <!-- todo: COME BACK TO ^ -->

      <style>
        .gridTemplateAreas {
          display: grid;
          grid-gap: 1em;
          grid-template-areas:
            "A B"
            "C D";
        }

        @media screen and (max-width: 800px) {
          .gridTemplateAreas {
            display: grid;
            grid-template-areas:
              "A"
              "B"
              "D"
              "C";
          }
        }

        #sq-1 {
          grid-area: A;
        }
        #sq-2 {
          grid-area: B;
        }
        #sq-3 {
          grid-area: C;
        }
        #sq-4 {
          grid-area: D;
        }
        #content-container {
          margin: 50px;
        }
      </style>

      <div class="bg-test2 w-1/2 ml-[50px] mt-[150px] pb-5 p-5">
        <h2 class="text-5xl underline font-bold">Featured Works</h2>
        <p class="pt-5">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum quo
          atque fuga. Corporis doloremque sit minus, asperiores quia velit
          inventore nostrum! Dicta alias corporis numquam.
        </p>
      </div>

      <!-- GRID v -->
      <div id="grid" class="gridTemplateAreas test2 p-[50px] mt-[50px]">
        <!-- *SQ-1 -->
        <div id="sq-1" class="test1 pl-1">
          <div id="content-container">
            <h2
              class="text-black font-bold 2xl:text-4xl sm:text-5xl 2xl:my-5 lg:mt-5 sm:mt-[50px]"
            >
              HoveyRoofing
            </h2>
            <p class="">
              1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
              maiores cupiditate non illum, ducimus ad vero repellendus
              accusamus iure quod? Praesentium vel, non vero ex optio recusandae
              nulla maxime dolorum!
            </p>

            <div id="btn-wrapper" class="flex gap-4">
              <button class="bg-teal text-white p-2 my-5 drop-shadow-lg">
                <a href="">Here's a button!</a>
              </button>
              <button class="bg-orange text-white p-2 my-5 drop-shadow-lg">
                <a href="">Here's another button!</a>
              </button>
            </div>
          </div>
        </div>

        <!-- *SQ-2 -->
        <div id="sq-2" class="lavender">
          <img
            src="https://images.pexels.com/photos/20727529/pexels-photo-20727529.jpeg?_gl=1*1xnvfvb*_ga*MTA5MDE3MzI2MS4xNzU4MjUwMDM4*_ga_8JE65Q40S6*czE3NzAyMzUzNTckbzI3JGcxJHQxNzcwMjM3MDk0JGo0MCRsMCRoMA.."
            alt=""
            class="h-full border border-black"
          />
        </div>

        <!-- *SQ-3 -->
        <div id="sq-3" class="pt-[150px]">
          <img
            src="https://images.pexels.com/photos/20727529/pexels-photo-20727529.jpeg?_gl=1*1xnvfvb*_ga*MTA5MDE3MzI2MS4xNzU4MjUwMDM4*_ga_8JE65Q40S6*czE3NzAyMzUzNTckbzI3JGcxJHQxNzcwMjM3MDk0JGo0MCRsMCRoMA.."
            alt=""
            class="h-full border border-black"
          />
        </div>

        <!-- *SQ-4 -->
        <div id="sq-4" class="teal pl-1 pt-[150px]">
          <div id="content-container">
            <h2
              class="text-black font-bold 2xl:text-4xl sm:text-5xl 2xl:my-5 lg:mt-5 sm:mt-[50px]"
            >
              Generations Backflow
            </h2>
            <p class="">
              1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
              maiores cupiditate non illum, ducimus ad vero repellendus
              accusamus iure quod? Praesentium vel, non vero ex optio recusandae
              nulla maxime dolorum!
            </p>
            <div class="flex gap-4">
              <button
                id="btn-wrapper"
                class="bg-teal text-white p-2 my-5 drop-shadow-lg"
              >
                <a href="">Here's a button!</a>
              </button>
              <button class="bg-orange text-white p-2 my-5 drop-shadow-lg">
                <a href="">Here's another button!</a>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- GRID  ^  -->
    </div>
  </section>
</>
