<section id="about">
  <section
    id=""
    class="bg-teal text-parchment text-2xl border-t-2 border-b-2 border-black mt-5"
  >
    <div id="grid" class="grid grid-cols-2">
      <div id="sq1" class="border-r-2 border-black bg- p-5">
        <div id="flex" class="grid grid-cols-2">
          <div class="">
            <h3>included pages</h3>
            <ul id="included-pages">
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
            </ul>
          </div>

          <div class="">
            <h3>Bonus pages</h3>
            <ul id="bonus-pages">
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
            </ul>
          </div>
        </div>
      </div>
      <div id="sq2" class="bg-carribean text-parchment p-">
        <img
          src="https://images.pexels.com/photos/326514/pexels-photo-326514.jpeg?_gl=1*1t1jfmh*_ga*MTA5MDE3MzI2MS4xNzU4MjUwMDM4*_ga_8JE65Q40S6*czE3NzI3NTQ2ODkkbzM2JGcxJHQxNzcyNzU0NzAzJGo0NiRsMCRoMA.."
        />
      </div>
    </div>
  </section>
</section>
