---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/sections/Hero.astro";
import About from "../components/sections/About.astro";
import MySkills from "../components/MySkills.astro";
import ListsGrid from "../components/ListsGrid.astro";
import FourSqGallery from "../components/FourSqGallery.astro";
import Packages from "../components/sections/Packages.astro";
import Contact from "../components/sections/Contact.astro";
import Works from "../components/sections/Works.astro";
import CenterPageBanner from "../components/CenterPageBanner.astro";
import Card from "../components/Card.astro";
import Gallery from "../components/sections/Gallery.astro";
import Pricing from "../components/sections/Pricing.astro";
import IncludedBonusPgsList from "../components/tests/IncludedBonusPgsList.astro";
import FourImgBanner from "../components/tests/FourImgBanner.astro";
---

<!-- USE FL-TEMPLATE -->
<MainLayout>
  <!-- HERO -->
  <Hero />
  <!-- ABOUT -->
  <section id="about">
    <About />
    <IncludedBonusPgsList />

    <!-- TODO: 4 IMG BANNER v-->
    <FourImgBanner />
    <!-- TODO: 4 IMG BANNER ^-->
  </section>
  <!-- PORTFOLIO -->
  <section id="portfolio">
    <CenterPageBanner BannerTitle="Portfolio" />
    <Gallery />
  </section>
  <!-- BLOG -->
  <section id="blog">
    <h2>Blog</h2>
    <Card
      title="tifdsfstle-testing"
      testItem1="here is test item1"
      pubDate="4/5/26"
    />
    <Card
      title="tifdsfstle-testing"
      testItem1="here is test item1"
      pubDate="4/5/26"
    />
  </section>

  <MySkills />
  <ListsGrid />
  <FourSqGallery />

  <!-- PRICING v-->
  <CenterPageBanner BannerTitle="Pricing" />
  <Pricing />
  <!-- -----------^-->

  <!-- PACKAGES  v-->

  <section id="pricing">
    <CenterPageBanner BannerTitle="Packages" />
    <Packages />
  </section>
  <!-- CONTACT -->
  <section id="contact">
    <Works />
    <Contact />
  </section>
</MainLayout>
