---
import ButtonProps from "./ui/ButtonProps.astro";

const frontmatter = Astro.props;

const { title, testItem1, url, pubDate } = frontmatter;
---

<div id="card-wrapper" class="border border-black rounded-2xl bg- w-1/4">
  <!-- ?: CHANGE BTNS TO CATEGORIES v-->
  <!-- ?:  ^-->
  <a href={url}>
    <div class="bg- md:text-lg text-sm pt-2 p-3">
      <h3 class="font-bold lg:text-2xl text-lg">{title}</h3>
      <p class="text-sm">{pubDate}</p>
      <p class="">
        {testItem1}
      </p>
    </div>
  </a>
  <ButtonProps btn1="View" btn1Link="/" />
</div>
