---
export interface Props {
  BannerTitle: string;
}

const { BannerTitle } = Astro.props as Props;
---

<div
  class="border-b border-munsell text-center py-2 2xl:pl-5 2xl:ml-5 mt-[150px]"
>
  <h1 class="2xl:text-5xl md:text-4xl text-3xl pb-2 pt-2 ml-1 font-bold text-">
    {BannerTitle}
  </h1>
</div>
