---
export interface Props {
  title: string;
  paragraph1: string;
  paragraph2: string;
  mainImg: string;
}

const { title, paragraph1, paragraph2, mainImg } = Astro.props as Props;
---

<div id="about-me-wrapper" class="bg- my-5 px-3">
  <div id="about-me-container" class="">
    <div id="img-container" class="bg-">
      <h2 id="dynamic-title" class="font-bold">
        {title}
      </h2>

      <div id="img-wrapper" class="">
        <img
          src={mainImg}
          id="img-icon"
          alt=""
          width="65"
          class="bg-munsell border border-[#88B7B5] rounded-lg opacity-90 2xl:w-1/2 w-3/4"
        />
      </div>
    </div>
    <div class="py- px-1">
      <p id="about-paragraph2" class="bg-">-{paragraph1}</p>
      <p id="" class="">{paragraph2}</p>
    </div>
  </div>
</div>
