---
const today = new Date();
---

<footer class="bg-teal text-center w-full border-t-2 border-black">
  <div>made by Elsa Hovey</div>
  <div class="">
    Copyright &copy; {today.getFullYear()}
  </div>
</footer>
