---
const links = [
  { label: "Home", href: "/" },
  { label: "About", href: "/#about" },
  { label: "Portfolio", href: "/#portfolio" },
  { label: "Blog", href: "/#blog" },
  { label: "Pricing", href: "/#pricing" },
  { label: "Contact", href: "/#contact" },
];
---

<header class="border-b border-onyx w-full pt-4 text-onyx">
  <nav class="pl-5 pr-5 pt-1 h-[100%] grid grid-cols-2 pb-3">
    <div class="flex justify-start items-end pl-1">
      <div id="logo" class="text-4xl font-bold">
        <a href="/">SANDBOX-astro </a>
      </div>
    </div>
    <ul class="flex justify-end items-end text-3xl">
      {
        links.map((link) => (
          <a class="mx-5" href={link.href}>
            <li>{link.label}</li>
          </a>
        ))
      }
    </ul>
  </nav>
</header>
