---

---

<!-- TODO: PUT NEW INTRO SECTION  HERE v-->
<div class="flex w-1/2 bg-">
  <img
    src="https://images.pexels.com/photos/32907278/pexels-photo-32907278.jpeg?_gl=1*63lshe*_ga*MTA5MDE3MzI2MS4xNzU4MjUwMDM4*_ga_8JE65Q40S6*czE3NzAyMzUzNTckbzI3JGcxJHQxNzcwMjM1NDAyJGoxNSRsMCRoMA.."
    alt="Elsa Hovey, portfolio-img"
    class="bg-munsell border border-[#88B7B5] rounded-lg opacity-90 2xl:w-1/2 w-3/4 l-2"
  />
  <p
    id="NEW P1"
    class="bg- font-bold mt-[55px] pr-2 py-5 2xl:text-lg text-md pl-2"
  >
    Hi there, I'm Elsa. This is a portfolio showing off my websites... all built
    with pure determination and endurance.I weave interesting stories and web
    development together ❤️.
  </p>
</div>
<!-- TODO: PUT NEW INTRO SECTION  HERE ^-->
